<div class="container">
    <div class="row justify-content-center mb-4 mt-4" routerLink="/" style="cursor: pointer;">
        <div class="col-auto">
            <img src="assets/img/dai-logo.png" width="100" height="100"/>
        </div>
        <div class="col-auto">
            <h1 class="display-3">Pool DAI</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4>{{poolData?.name}} ({{poolData?.symbol}})</h4>
                        </div>
                        <div class="col-auto">
                            <!-- Refresh -->
                            <button type="button" class="btn btn-primary btn-sm" (click)="refresh()">
                                <span *ngIf="!isLoading">
                                    Refresh
                                </span>
                                <span *ngIf="isLoading">
                                    Loading...
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Beneficiaries:
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tr>
                                    <th>Address</th>
                                    <th>Weight</th>
                                </tr>
                                <tr *ngFor="let beneficiary of poolData?.beneficiaries">
                                    <td>
                                        <a target="_blank" href="https://etherscan.io/address/{{beneficiary.dest}}"
                                            class="card-link">{{beneficiary.dest}}</a>
                                    </td>
                                    <td>{{toBigNumber(beneficiary.weight).div(poolData?.totalBeneficiaryWeight).times(100)}}%
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </li>
                    <li class="list-group-item">Creator: <a target="_blank"
                            href="https://etherscan.io/address/{{poolData?.creator}}"
                            class="card-link">{{poolData?.creator}}</a></li>
                    <li class="list-group-item">Owner:
                        <a target="_blank" href="https://etherscan.io/address/{{poolData?.owner}}" class="card-link"
                            *ngIf="poolData?.owner !== '0x0000000000000000000000000000000000000000'">
                            {{poolData?.owner}}
                        </a>
                        <span *ngIf="poolData?.owner === '0x0000000000000000000000000000000000000000'">
                            Nobody
                        </span>
                    </li>
                    <li class="list-group-item">Creation time: {{toDateTimeString(poolData?.creationTimestamp)}}</li>
                    <li class="list-group-item">Smart contract: <a target="_blank"
                            href="https://etherscan.io/address/{{getPoolID()}}" class="card-link">{{getPoolID()}}</a>
                    </li>
                    <li class="list-group-item">Pool size: {{toBigNumber(poolData?.totalSupply).toFormat(18)}} DAI</li>
                    <li class="list-group-item">
                        <canvas id="totalSupplyHistoryChart"></canvas>
                    </li>
                    <li class="list-group-item">Total interest donated:
                        {{toBigNumber(poolData?.totalInterestWithdrawn).toFormat(18)}} DAI</li>
                    <li class="list-group-item">
                        <canvas id="totalInterestWithdrawnHistoryChart"></canvas>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Deposit to pool</h4>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="col-form-label" for="inputDepositAmount">
                            Deposit amount
                        </label>
                        <input type="number" [(ngModel)]="depositAmount" class="form-control" placeholder="420.69"
                            min="0" id="inputDepositAmount" aria-describedby="helpDepositAmount">
                        <small id="helpDepositAmount" class="form-text">Denominated in the currency you choose
                            below</small>
                    </div>

                    <div class="form-group">
                        <span *ngIf="currencyBalance">
                            You have: {{currencyBalance.toFormat(18)}} {{depositTokenSymbol}}
                        </span>
                        <button type="button" class="btn btn-info justify-content-center"
                            (click)="displayCurrencyBalance()">
                            Check currency balance
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="selectDepositToken">
                            Deposit currency
                        </label>
                        <select class="custom-select" id="selectDepositToken" [(ngModel)]="depositTokenSymbol">
                            <option *ngFor="let token of tokenData" value={{token.symbol}}>{{token.name}}
                                ({{token.symbol}})
                            </option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-success justify-content-center"
                        (click)="deposit(depositAmount, depositTokenSymbol)">
                        Deposit to pool
                    </button>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h4>Withdraw from pool</h4>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="col-form-label" for="inputWithdrawAmount">
                            Withdraw amount
                        </label>
                        <input type="number" [(ngModel)]="withdrawAmount" class="form-control" placeholder="420.69"
                            min="0" id="inputWithdrawAmount" aria-describedby="helpWithdrawAmount">
                        <small id="helpWithdrawAmount" class="form-text">Denominated in pDAI</small>
                    </div>

                    <div class="form-group">
                        <span *ngIf="pDAIBalance">
                            You have: {{pDAIBalance.toFormat(18)}} pDAI
                        </span>
                        <button type="button" class="btn btn-info justify-content-center"
                            (click)="displayPDAIBalance()">
                            Check pDAI balance
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="selectWithdrawToken">
                            Withdraw currency
                        </label>
                        <select class="custom-select" id="selectWithdrawToken" [(ngModel)]="withdrawTokenSymbol">
                            <option *ngFor="let token of tokenData" value={{token.symbol}}>{{token.name}}
                                ({{token.symbol}})
                            </option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-success justify-content-center"
                        (click)="withdraw(withdrawAmount, withdrawTokenSymbol)">
                        Withdraw from pool
                    </button>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <h4>Withdraw interest to beneficiaries</h4>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        Interest accrued: {{interestAccrued.toFormat(18)}} DAI
                    </div>

                    <button type="button" class="btn btn-success justify-content-center" (click)="withdrawInterest()">
                        Withdraw interest to beneficiary
                    </button>
                </div>
            </div>

            <div class="card mb-3" *ngIf="poolData?.owner !== '0x0000000000000000000000000000000000000000'">
                <div class="card-header">
                    <h4>Change beneficiaries (Only the owner can do this)</h4>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label class="col-form-label" for="inputAddress">
                            Beneficiaries' Ethereum Accounts
                        </label>
                        <input [(ngModel)]="beneficiaryEthereumAccount" type="text" class="form-control"
                            placeholder="0xc0FcF8403e10B65f1D18f1B81b093004B1127275, 0x58b64a1feAC144eb077627C9C6b66cE2097396Af"
                            id="inputAddress" aria-describedby="helpAddress">
                        <small id="helpAddress" class="form-text">The Ethereum accounts that will receive the donations.
                            Input
                            multiple beneficiaries by separating the addresses with commas.</small>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="inputAddress">
                            Beneficiaries' Weights
                        </label>
                        <input [(ngModel)]="beneficiaryWeights" type="text" class="form-control" placeholder="80, 20"
                            id="inputWeights" aria-describedby="helpWeights">
                        <small id="helpWeights" class="form-text">Weights that determine the proportion of the donation
                            that each
                            beneficiary receives. Weights should be whole numbers separated by commas.</small>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" [(ngModel)]="devSupportCheck" class="custom-control-input"
                                id="devSupportCheck" aria-describedby="helpDevSupport">
                            <label class="custom-control-label" for="devSupportCheck">Give 5% of donations to support
                                PoolDAI's
                                development</label>
                            <small id="helpDevSupport" class="form-text">Pays for my morning cup of coffee. Why not?
                                It's not like it
                                costs anything 😉</small>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success justify-content-center"
                        (click)="changeBeneficiaries()">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>